<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class='text-center'>Register a New Parking Lot!</h1>

    <div class="col-6 offset-3">
        <form action="/parkingLots" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="parkingLot[name]" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <select class="form-control" type="text" id="city" name="parkingLot[city]" required>
                    <% for(let city in cities) { %>
                    <option value="<%= city %>"><%= city %></option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="province">Province</label>
                <select class="form-control" type="text" id="province" name="parkingLot[province]" required>
                    <% for(let province of cities.Adana) { %>
                    <option value="<%= province %>"><%= province %></option>
                    <% } %>
                </select>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Images</label>
                <input class="form-control" type="file" id="image" name="image" required multiple>
                <div class="valid-feedback">Looks good!</div>
            </div>  -->

            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="parkingLot[pictureLink]" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="floors">Floor Number - Slot Count</label>
                <textarea class="form-control" name="parkingLot[floors]" id="floors"
                    placeholder="Please write the floors as <FloorNumber> - <SlotNumber> and separate with a comma. For example 1 - 20, 2 - 21, 3 - 25"
                    required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="priceTable">Price Table</label>
                <textarea class="form-control" name="parkingLot[priceTable]" id="priceTable"
                    placeholder="Please write your pricing as <StartingHour> - <EndingHour> = <Price> separate with comma and if you have prices based on days set the starting hour to 0 and ending hour to 24 or 48 etc. For example 0 - 2 = 20, 2 - 4 = 25, 0 - 24 = 100"
                    required></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>

        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>

<script src="/js/DynamicCitySelect.js" type="module"></script>