<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class='text-center'>Register a New Parking Lot!</h1>

    <div class="col-6 offset-3">
        <form action="/parkingLots" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="parkingLot[name]" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <select class="form-control" type="text" id="city" name="parkingLot[city]" required>
                    <% for(let city in cities) { %>
                        <option value="<%= city %>"><%= city %></option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="province">Province</label>
                <select class="form-control" type="text" id="province" name="parkingLot[province]" required>
                    <% for(let province of cities.Adana) { %>
                        <option value="<%= province %>"><%= province %></option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>

            <hr>

            <h4>Floors:</h4>

            <div class="floor-slot-area mb-5">
                <div id="floor-0" class="floor-set">
                    <label class="form-label" for="floor-input-0">1. Floor:</label>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Number of Slots:</span>
                        <input type="number" class="form-control slot-input" name="parkingLot[floors][]"
                            id="floor-input-0" required>

                        <button class="btn btn-danger delete-btn" type="button" data-close="floor-0">X</button>
                    </div>
                </div>

                <button type="button" class="btn btn-primary mt-3" id="add-floor-btn">Add a Floor</button>
            </div>

            <hr>

            <h4>Prices:</h4>
            <div class="price-pair-area">
                <div id="price-0" class="price-set">
                    <label class="form-label" for="price-input-0">1. Price Pair:</label>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Starting Hour:</span>
                        <input type="number" class="form-control price-start-input" name="parkingLot[startHours][]"
                            id="price-input-0" required>

                        <span class="input-group-text">Ending Hour:</span>
                        <input type="number" class="form-control price-end-input" name="parkingLot[endHours][]" required>

                        <span class="input-group-text">Price:</span>
                        <input type="number" class="form-control price-input" name="parkingLot[prices][]" required>

                        <button class="btn btn-danger delete-btn" type="button" data-close="price-0">X</button>
                    </div>
                </div>

                <button type="button" class="btn btn-primary mt-3" id="add-price-btn">Add a Price Pair</button>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add ParkingLot</button>
            </div>
        </form>

        <a href="/parkingLot">All ParkingLots</a>
    </div>
</div>

<script src="/js/dynamicCitySelect.js" type="module"></script>
<script src="/js/setFloorsAndPrices.js"></script>